/** Add css rules here for your application. */

/* ************ */


h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, html {
    width: 100%;
    height: 100%;
}

body, td, a, div, .p {
    font-family: "Source Sans Pro", sans-serif;
}

strong,b {
    font-weight: 600;
}

#googlemap {
    width: 100%;
}

#sliderwrapper {
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 100px;
    box-sizing: border-box;

}
.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.ui-slider-horizontal .ui-slider-handle.ui-state-default, .ui-slider-horizontal .ui-slider-handle.ui-state-default:focus {
    background: white;
    border-radius: 3px;
    width: auto;
    padding: 0px 10px;
    line-height: 24px;
    height: 24px;
    top: -7px;
    border: 0px;
    box-shadow: 0px 1px 10px rgba(141, 141, 141, 1);
    outline-style: none;
    color: #333333;
    font-size: 14px;
}

.slider-values {
    position: absolute;
    top: 4px;
}

#tempic_app, #tempic_wrapper, #tempic {
    width: 100%;
    height: 100%;
}

#currentViewLabel {
    font-size: 1.309em;
    padding: 1.118em 2em;
    border-bottom: 1px solid #d7d7d7;
}

#content_wrapper {
    width: 82vw;
    position: relative;
}

#dashboard_wrapper {
    padding: 2.618em;
    display: block;
    overflow: hidden;
    background-color: #f5f8f9;
}

#dashboard_wrapper tbody:first-child {
    background-color: #fff;
    padding: 2em;
    display: block;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

#dashboard_wrapper tbody tr td table tbody:first-child {
    padding: 0;
    border: none;
    border-radius: none;
}

.contentWrapper_td {
    background-color: #f7f7f7;
}

.worldDashboard-ListRow td {
    border-bottom: 1px solid #E2E2E2;
}

table {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    spacing: 0px;
}

td {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    spacing: 0px;
}

th, td {
    padding: 0px;
}

td.add-contact-label {
    text-align: left;
}

.add-contact-input {
    border: 1px solid red;
    border-collapse: collapse;
    margin-right: 0px;
    margin-left: auto;
}

td.worldDashboard-NavContainer {
    padding-left: 10px;
    padding-right: 10px;
}

td.worldDashboard-ListMenu {
    background-color: #D0E4F6;
    padding-bottom: 6px;
}

td.worldDashboard-ListContainer {
    padding-right: 10px;
}

.worldDashboard-HeaderContainer {
    padding-right: 10px;
}

td.worldDashboard-ListCheckbox {
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.worldDashboard-ListName {
    padding-top: 2px;
    padding-bottom: 2px;
}

.gwt-DecoratorPanel .middleCenter {
    height: 100%;
    width: 100%;
}

.com-google-gwt-user-cellview-client-CellTable-Style-cellTableHeader {
    border: 1px solid #d2d2d2 !important;
    background-color: #f2f2f2;
    padding: 0.5em 1.25em !important;
    text-shadow: none !important;
    color: #333 !important;
}

.com-google-gwt-user-cellview-client-CellTable-Style-cellTableCell {
    padding: 0.5em 1em !important;
}

.com-google-gwt-user-cellview-client-CellTable-Style-cellTableSortableHeader:hover {
    background-color: #e2e2e2;
}

#temperatureTable {
    width: 100%;
}

/* fucking bug */
table#dashboard_wrapper {
    width: auto !important;
}

#dashboard_wrapper tr td {
    width: 100vw;
}

td.com-google-gwt-user-cellview-client-SimplePager-Style-button.com-google-gwt-user-cellview-client-SimplePager-Style-disabledButton, td.com-google-gwt-user-cellview-client-SimplePager-Style-button.com-google-gwt-user-cellview-client-SimplePager-Style-disabledButton,
td.com-google-gwt-user-cellview-client-SimplePager-Style-pageDetails, td.com-google-gwt-user-cellview-client-SimplePager-Style-button, td.com-google-gwt-user-cellview-client-SimplePager-Style-button {
    padding-top: 3em;
    padding-bottom: 1em;
}

#linechart-wrapper {
    margin: 1em 0 2em 0;
}

.multiSelectLabelSection tbody tr td {
    width: 38vw !important;
    font-weight: 600;
    font-size: 1.1em;
}

.chosen-container.chosen-container-multi {
    width: 98% !important;
    margin: 1em 0;
}

.chosen-choices {
    border-radius: 5px;
    padding: 0.4em 1em !important;
    font-size: 1rem;
}

.filter-button {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-family: "Source Sans Pro", sans-serif;
    background-color: #0275d8;
    border-color: #0275d8;
    display: inline-block;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 3rem;
    font-size: 1.05rem;
    border-radius: .25rem;
    float: right;
}

.filter-button:hover {
    background-color: #01549b;
}

#print-link a {
    position: absolute;
    top: 17px;
    right: 2.618em;
    color: #fff;
    text-decoration: none;
    background-color: #0275d8;
    border-color: #0275d8;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
}
#print-link a:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}