/** Add css rules here for your application. */

/* ************ */


h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, html {
    width: 100%;
    height: 100%;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

#tempic_app, #tempic_wrapper, #tempic {
    width: 100%;
    height: 100%;
}

#nav {
    width: 25vw;
}

#content_wrapper {
    width: 75vw;
}

.nav_td {
    background-color: #303030;
    color: #ffffff;
    overflow: hidden;
}

.contentWrapper_td {
    background-color: #f7f7f7;
}

.worldDashboard-ListRow td {
    border-bottom: 1px solid #E2E2E2;
}

table {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    spacing: 0px;
}

td {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    spacing: 0px;
}

th, td {
    padding: 0px;
}

td.add-contact-label {
    text-align: left;
}

.add-contact-input {
    border: 1px solid red;
    border-collapse: collapse;
    margin-right: 0px;
    margin-left: auto;
}

td.worldDashboard-NavContainer {
    padding-left: 10px;
    padding-right: 10px;
}

td.worldDashboard-ListMenu {
    background-color: #D0E4F6;
    padding-bottom: 6px;
}

td.worldDashboard-ListContainer {
    padding-right: 10px;
}

.worldDashboard-HeaderContainer {
    padding-right: 10px;
}

td.worldDashboard-ListCheckbox {
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.worldDashboard-ListName {
    padding-top: 2px;
    padding-bottom: 2px;
}

.gwt-DecoratorPanel .middleCenter {
    height: 100%;
    width: 100%;
}

